<div class="hander">
    <div class="logo-hander">
        <div class="herder-logo">
          <img class="logo" src="http://krspace-upload.oss-cn-qingdao.aliyuncs.com/activity_unzip/201803/G/185016410_985.png" alt="" srcset=""/>
          <div>KR SPACE</div>
        </div>
        <div class="herder-logo-two">
          <span style="font-size: 20px;vertical-align: middle;">会员协议</span>
          <div>MEMBERSHIP AGREEMENT </div>
       </div>
    </div>
    <div class="hander-detail">
        <div>
            <span>协议号码：{{o-serialNumber}}</span> 
            <div style="display:block;"> Agreement number:{{o-serialNumber}}</div>
        </div>
        <div style="margin-left:35px;">
            <span class="agreement">协议日期：{{sign_date}}</span> 
            <div style="display:block;"> 
                Agreement  date:
            </div>
        </div>
    </div>
</div>